_UpgradeReport_Files/*
*/log.*
Backup/*
Logs/*
*/logs/*
*/Images/Advertising/*
UpgradeLog*.*
*.orig
packages/*
*/bin/*
*/obj/*
*.user
*.suo
*.mdf
*.ldf
TestResults/*
BuildArtifacts/*
*.vsp
*.psess
_Chutzpah*
.vs/*
BillOfLading*.pdf
.vscode/
/Absg.MyCubixx.Models/CodeTemplates/ReverseEngineerCodeFirst
/Absg.MyCubixx.Patient/App_Data/XmlDocument.xml
/Cubixx.Api.Host/Properties/PublishProfiles/CoreAPI.pubxml
*/Properties/PublishProfiles/*
